*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anek Odia', sans-serif;
}

header{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; 
   padding: 2rem;
}

.search-form{
    margin-top: 1rem;
    display: flex;
}

h2 a{
    text-decoration: none;
    font-weight: bold;
    font-size: 3.5rem;
    color: rgb(83, 26, 137);
}

.search-form input{
    border: none;
    border: 2px solid rgb(83, 26, 137);
    border-right: none;
    border-radius: 15px 0px 0px 15px;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.search-form button{
    background: rgb(83, 26, 137);
    color: white;
    border: none;
    border-left: none;
    border-radius: 0px 15px 15px 0px;
    padding: .3rem 1rem 0rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Anek Odia', sans-serif;
}



.gallery-info a {
  color: gray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 2rem 0rem;
  width: 80%;
  margin: auto;
  row-gap: 5rem;
  column-gap: 3rem;
}

.gallery-img{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 0.5rem 0rem;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  object-fit: cover;
}


.nav-button{
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.nav-button button{
  background: rgb(83, 26, 137);
    color: white;
    border: none;
    border-radius: 15px;
    padding-top: .8rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Anek Odia', sans-serif;
}


